body {
  font-family: 'Arial Black', Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: white;
  transition: background 0.5s, color 0.5s;
}

#clock {
  font-size: 10em;       /* big clock */
  font-weight: bold;    /* bold text */
  margin-bottom: 30px;  /* space from button */
}

button {
  padding: 10px 15px;   /* smaller button */
  font-size: 1.2em;
  cursor: pointer;
}

