body {
  font-family: 'Arial Black', Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: white;
  transition: background 0.5s;
}

button {
  padding: 10px 15px;
  font-size: 1.2em;
  cursor: pointer;
}
